.dashboard-container {
    width: 100%;
	margin-top:15px;
	margin-left:15px;
}

.dashboard-container [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
}

.dashboard-container:before,
.dashboard-container:after {
	display: table;
	content: "";
}

.dashboard-container:after {
	clear: both;
}

.dashboard-container [class*="span"] {
	display: block;
	float: left;
	width: 100%;
	min-height: 28px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.dashboard-container [class*="span"]:first-child {
	margin-left: 0;
}

.dashboard-wraper {
	padding:3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#eee;
	width:17%;
	margin:1%;
	float:left;
}

.dashboard-content a {
	min-height:89px;
	text-decoration:none;
	color: #333;
	display:block;
	padding:10px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
	border:#d8d8d8 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px rgba(000, 000, 000, 0.1) inset;
	-webkit-box-shadow:0 0 4px rgba(000, 000, 000, 0.1) inset;
	box-shadow: 0 0 3px rgba(000, 000, 000, 0.1) inset;
	text-align:center;
}

.dashboard-content a:hover {
	color:#069;
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229, 229, 229, 1)), color-stop(100%, rgba(255, 255, 255, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	text-decoration: none;
}


.dashboard-title {
    display: block;
    padding-top: 5px;
}

.dashboard-info {
	font-size: 12px;
	color: #333;
	display:block;
	padding:10px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
	border:#d8d8d8 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px rgba(000, 000, 000, 0.1) inset;
	-webkit-box-shadow:0 0 4px rgba(000, 000, 000, 0.1) inset;
	box-shadow: 0 0 3px rgba(000, 000, 000, 0.1) inset;
	text-align: center;
}

.dashboard-info span {
	display: block;
    text-align: center;
}

.dashboard-info img {
	margin: 0 auto;
}

.dashboard-table {
	width: 100%;
	border-top: 1px solid #DDDDDD;
    margin-top: 5px;
}

.dashboard-info h5 {
	font-weight: bold;
	font-size: 11px;
}

.dashboard-block {
	margin-bottom:20px;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 ); /* IE6-9 */
	border: 1px solid #c2c2c2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9;
}

.dashboard-block .dashboard-block-head {
	height:40px;
	position:relative;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #c2c2c2;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
	box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
}

.dashboard-block .dashboard-block-head h5 {
	padding-left: 10px;
	padding-top:11px;
	text-transform:uppercase;
	font-size:12px;
	margin:0px;
}

.dashboard-block .dashboard-block-content {
	background:#eee;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.dashboard-block .dashboard-block-box {
	background:#fff;
	border-top:#d2d2d2 1px solid;
	-webkit-box-shadow: inset 0 0 5px #ddd;
	-moz-box-shadow: inset 0 0 5px #ddd;
	box-shadow: inset 0 0 5px #ddd;
}

.dashboard-block .dashboard-block-content .dashboard-block-box {
	margin-top:0px !important;
}
.dashboard-block .dashboard-block-content .dashboard-block-box .dashboard-block-table {
	margin-bottom:0px !important;
}


.dashboard-block-table {
	margin-bottom: 20px;
    width: 100%;
	background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.dashboard-block-table th, .dashboard-block-table td {
	border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

.dashboard-badge {
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999999;
	padding: 1px 9px 2px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.checkboxes ul li{
	list-style:none;
	float:left;
}
.checkboxes ul li label{
	width:100px;
	margin-left:10px;
	display:block;
	float:left;
}
.checkboxes ul li input{
	float:left;
}


/* Editor fix */
.toggle-editor {margin: 18px 170px 18px 0 !important;}

.rule-desc { font-size:20px; }
.rsmembership_resize span { float:none;}
.rsmembership_after_label { display:block; width: 152px; }
.spacer label {font-size:18px}

.icon-back:before { content: "\e008"; }
.icon-back-2:before { content: "\e00c"; }
.icon-back-3:before { content: "\e012"; }

.icon-deny:before { content: "\\"; }
.icon-approve:before { content: "["; }

#change_unlimited {margin-right:5px;}

#rsm_lbl_unlimited {clear:both; } 
.rsm_subscriber_membership_form { padding: 3px 40px; }
.rsm_subscriber_membership_form .rule-desc { margin: -20px 0px 20px 0px}
.filter-report-type { width:22%; float:left; }
.filter-time { width:70%; }
.filter-time .span3 .controls { margin-left:100px}
#merge_vars_rsm > div > span{
	padding-right: 5px;
    text-align: left;
    min-width: 70px;
	display:inline-block;
	vertical-align:middle;
}
#merge_vars_rsm > div > select{
	margin-left: 108px;
	display:inline-block;
	vertical-align:middle;
}
.rsma_field_container {
	padding:10px 0px;
}
.rsmail_integration fieldset.btn-group > div.controls {
	margin-left:0px;
}
.pagination {
	width:100% !important
}

 /* label fix, only for top level items */
.adminform > .control-group > .control-label {
	width: 235px;
	word-wrap: break-word;
}

#captcha .adminform > .control-group > .control-label {
	min-width: 235px;
	width: auto;
}