.mtmultiselect
{
	width: 450px;
    background: #F4F4F4;
    font: 12px verdana;
    border: 1px solid #CCCCCC;            
}

.mtmultiselect .selected
{
    background-color: #146295;
}

.mtmultiselect ol .selected
{
    background-color: #146295;
    background-image: url('check-mark.png');
    background-position: left;
    background-repeat: no-repeat;
    color: #ffffff;
}

.mtmultiselect ul li
{            
    display:inline;
}

.disabled
{
    color: #ccc;
}

.mtms_filterbox
{
    float: left;
    padding: 5px;
    display: block;
    width: 400px;            
}

.mtms_filterbox label
{
	display: inline;
}

.mtms_filterbox input
{
    background: #ffffff;
    border: 1px solid #a0a0a0;
}

.mtms_filtercontrols
{
    padding: 7px 0;
    color: #000000;
    background: #C0C0C0;
}

.mtms_filtercontrols a, .mtms_paginator a
{
    color: #146295;
    padding: 0 4px 0 6px;
}

.mtms_paginator
{
    clear: both;
    padding: 5px;
    background: #C0C0C0;
}

.mtms_paginator a.selected
{
	color: #ffffff;
}

.mtmultiselect ol
{
    padding: 0;
}

.mtmultiselect ol li
{
    list-style-type: none;            
    padding: 7px 5px 7px 25px;
    border-bottom: 1px solid #c0c0c0;
    background-color: #ffffff;
    color: #000000;
}

.mtmultiselect ol li:hover
{
    background-color: #C0C0C0;
    color: #111;
}

.mtmultiselect ul, .mtmultiselect ol
{
	margin: 0px;
}