.icon-rseventspro32:before {
	color: #3F2FBC;
	content: "y";
}

.icon-approve:before {
	content: "G";
	color: #51A351;
}

.icon-pending:before {
	content: "n";
	color: #260DEE;
}

.icon-denied:before {
	content: "J";
	color: #BD362F;
}

.icon-back:before {
	content: "l";
}

.icon-preview:before {
	content: "d";
}

.icon-export:before {
	content: "m";
}

.icon-export:before {
	content: "m";
}

#categories_chzn.invalid {
    border: 1px solid #9d261d;
}

#map-canvas img {
	max-width: none;
}

#rscombobox_jform_global_date_chzn,
#rscombobox_jform_global_time_chzn {
	vertical-align: sub;
}

#jform_global_date,
#jform_global_time {
	padding: 3px;
    position: absolute;
    width: 139px !important;
}

ul.rs_repeats li {
	padding-bottom: 5px;
}

#rsepro-navbar .navbar-inner {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top,#ffffff,#f2f2f2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f2f2f2));
	background-image: -webkit-linear-gradient(top,#ffffff,#f2f2f2);
	background-image: -o-linear-gradient(top,#ffffff,#f2f2f2);
	background-image: linear-gradient(to bottom,#ffffff,#f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

#rsepro-navbar .nav > li > a {
	padding: 11px 15px;
}

#rsepro-navbar .navbar-text {
	line-height: 40px;
}

@media (max-width: 767px) {
	#rsepro-navbar .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		border-radius: 3px;
		color: #777;
		font-weight: bold;
		padding: 9px 15px;
	}

	#rsepro-navbar .nav-collapse .nav > li > a {
		margin-bottom: 2px;
	}

	#rsepro-navbar .navbar .nav > li > a {
		color: #777;
		float: none;
		padding: 10px 15px;
		text-decoration: none;
		text-shadow: 0 1px 0 #fff;
	}
	
	#rsepro-navbar .dropdown-menu > li > a {
		color: #333;
		font-weight: normal;
	}
	
	#rsepro-navbar .nav-collapse .nav li ul li ul.dropdown-menu,
	#rsepro-navbar .nav-collapse .nav li ul li:hover ul.dropdown-menu,
	#rsepro-navbar .nav-collapse .caret {
		display: inline-block !important;
		float: right;
	}
}