body {font-family: 'Merriweather'; font-size: 16px; color: #57534b;}
/*a {color: #7b0e0e;}
a:hover {color: #57534b;}*/
td {vertical-align: top;}

/*Site Header*/
.site-header {padding-top: 20px; box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.31); background: #fff;}
/*Login & Search*/
.top-right {float: right;}
.login {float: right;}
.login h5 {font-family: 'Montserrat'; font-weight: bold; font-size: 16px; color: #6c675e; text-transform: uppercase; margin-top: 10px;}
.login h5 a {color: inherit;}
.login h5 i {padding-right: 5px; position: relative; top: -1px;}
.site-search {float: right; padding-left: 30px;}
.site-search input.search-query {border: 3px solid #dededd; padding: 3px 5px; color: #6C675E;}
.site-search label {display: none;}
.search {position: relative;}
.search:after {content: "\f002"; font-family: 'FontAwesome'; font-size: 22px; color: #dededd; position: absolute; right: 9px; top: 1px;}
/*Navbar*/
.navbar {margin-bottom: 6px;}
.navbar-default {border: none; padding-top: 50px; background: transparent;}
.navbar-collapse {padding-left: 0; padding-right: 0;}
.navbar-default .navbar-nav > li > a {font-family: 'Montserrat'; font-weight: bold; font-size: 18px; color: #666666; text-transform: uppercase; padding: 0 32px 17px 32px;}
.navbar-default .navbar-nav > li > a:after {content: ""; background: #96acc4; width: 1px; height: 18px; display: block; position: absolute; right: 0; top: 0;}
.site-header .navbar-nav > li:first-child > a {padding-left: 0;}
.site-header .navbar-nav > li:last-child > a {padding-right: 0;}
.site-header .navbar-nav > li:last-child > a:after {display: none;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {background: transparent; color: #50588C; box-shadow: none;}
.dropdown:hover .dropdown-menu {display: block;} /*Override click for dropdown*/
.dropdown-menu {border: none; border-top: 7px solid #50588c; top: 100%; border-radius: 0; background: rgba(65,62,55,.92); width: 215px; left: -28px;}
.dropdown-menu:before {content: ""; display: block; position: absolute; top: -15px; left: 97px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #50588c;}
.navbar-default .navbar-nav > li:hover > a {color: #50588c;}
.dropdown-menu > li > a {color: #fff; font-size: 15px; text-align: center; white-space: normal; width: 100%; padding: 10px 0;}
.dropdown-menu > li {width: 100%;}
.dropdown-menu > li:after {
	content: " ";
	height: 1px;
	width: 100%;
	display: block;
	position: absolute;
	background: rgb(124,121,117);
	background: -moz-linear-gradient(left,  rgba(124,121,117,.01) 0%, rgba(124,121,117,1) 50%, rgba(124,121,117,.01) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(124,121,117,.01)), color-stop(50%,rgba(124,121,117,1)), color-stop(100%,rgba(124,121,117,.01)));
	background: -webkit-linear-gradient(left,  rgba(124,121,117,.01) 0%,rgba(124,121,117,1) 50%,rgba(124,121,117,.01) 100%);
	background: -o-linear-gradient(left,  rgba(124,121,117,.01) 0%,rgba(124,121,117,1) 50%,rgba(124,121,117,.01) 100%);
	background: -ms-linear-gradient(left,  rgba(124,121,117,.01) 0%,rgba(124,121,117,1) 50%,rgba(124,121,117,.01) 100%);
	background: linear-gradient(to right,  rgba(124,121,117,.01) 0%,rgba(124,121,117,1) 50%,rgba(124,121,117,.01) 100%);
}
.dropdown-menu > li:last-child:after {display: none;}
.dropdown-menu > li > a:hover {color: #999999; background: transparent;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {background: transparent;}
.dropdown-menu > li > a.hide-me {display: none;}
.navbar-nav li ul.dropdown-menu li ul.dropdown-menu {display: none;}
/*Hide nav item below Event Photos*/
.navbar-nav li.dropdown ul.dropdown-menu li.item-114:after {display: none;}

/*Main Content*/
.main-content {padding-bottom: 35px; padding-top: 20px;}
.main-content img, .sidebar img {max-width: 100%; height: auto;}
.page-title {position: relative; padding-top: 30px; padding-bottom: 35px;}
.page-title .random-image {position: absolute; top: 0; z-index: -10; height: 100%;}
.page-title .random-image img {box-shadow: 1px -2px 6px 0 rgba(0, 0, 0, 0.31); width: 100%; height: 100%;}
.page-title h1 {font-size: 38px; color: #fff; line-height: 55px; text-shadow: 2px 3px 24px rgba(0, 0, 0, 0.35);}
.main-content p {margin-bottom: 20px; margin-top: 20px; line-height: 29px;}
.main-content a, .sidebar a {color: #7b0e0e;}
.main-content a:hover, .sidebar a:hover {color: #57534b; text-decoration: none;}
.main-content ul {padding-top: 5px;}
.main-content li {padding: 5px 0;}
h2 {font-family: 'Montserrat'; font-weight: bold; font-size: 22px; color: #006351; line-height: 30px;}
h3 {font-family: 'Montserrat'; font-weight: bold; font-size: 18px; color: #3d467d; line-height: 24px;}
h4 {font-family: 'Montserrat'; font-weight: bold; font-size: 16px; color: #3d467d; line-height: 24px;}
h5 {font-family: 'Montserrat'; font-weight: bold; font-size: 15px; line-height: 22px; text-transform: uppercase; margin-top: 15px; margin-bottom: 5px;}
p.lead-in {font-style: italic; font-size: 27px; color: #57534b; line-height: 45px;}
p.call-to-action {font-family: 'Montserrat'; font-weight: bold; font-size: 15px; line-height: 29px; text-transform: uppercase;}
p.call-to-action a {color: #7b0e0e;}
p.call-to-action a:hover {color: #ad2525; text-decoration: none;}
p.call-to-action a:after {content: "\f138"; font-family: 'FontAwesome'; font-size: 18px; padding-left: 5px;}
p.btn.btn-primary {background: #3d467d; border: none; border-radius: 0; border-top-left-radius: 10px; border-bottom-left-radius: 10px; font-family: 'Montserrat'; font-weight: bold; font-size: 15px; color: #fff; text-transform: uppercase; position: relative; padding: 6px 30px 6px 15px;}
p.btn.btn-primary:hover {background: #8087b6; border: none;}
p.btn.btn-primary a {color: inherit;}
p.btn.btn-primary a:hover {text-decoration: none;}
p.btn.btn-primary:after {content: "\f105"; font-family: 'FontAwesome'; color: #fff; font-size: 17px; background: #555c8d; border-top-right-radius: 10px; border-bottom-right-radius: 10px; position: absolute; right: -38px; top: 0; padding: 6px 15px 6px 17px;}
p.btn.btn-primary:hover:after {background: #8f96bf;}
.footnote {font-size: 14px;}
hr {height: 2px;
	background: rgb(217,216,216);
	background: -moz-linear-gradient(left,  rgba(217,216,216,1) 61%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(61%,rgba(217,216,216,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(217,216,216,1) 61%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(217,216,216,1) 61%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(217,216,216,1) 61%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(217,216,216,1) 61%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d8d8', endColorstr='#ffffff',GradientType=1 );
}

/*Sidebar in Main Content*/
.sidebar {padding-bottom: 35px; padding-top: 20px;}
.sidebar .member-categories p.btn.btn-primary {margin-bottom: 15px; clear: both; white-space: normal; text-align: left; border-radius: 10px; width: 100%;}
.sidebar .member-categories p.btn.btn-primary:after {display: none;}
.sidebar .training-sidebar-content p.btn.btn-primary {padding: 7px 30px 8px 15px; margin-bottom: 15px;}
.sidebar img {max-width: 100%; height: auto;}
.sidebar .moduletable {margin-bottom: 15px;}
.sidebar .custom.bye-bye-potholes {padding: 9px 9px 1px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);}
.sidebar .custom.associate-ad {padding: 9px 9px 1px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);}
.sidebar > .upcoming-events-sidebar {padding: 10px 20px 15px 20px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);}

/*Page Title Exceptions*/
.home .page-title {display: none;}

/*Homepage Only*/
.slider-area {background: #fff url('../images/homepage-slider-bg.png') no-repeat; height: 480px;}
.slider-area .container {position: relative;}
.homepage-slide {height: 480px; position: relative; left: -135px;}
.homepage-slide p {font-size: 38px; color: #fff; line-height: 55px; text-shadow: 2px 3px 21px rgba(0, 0, 0, 0.65); max-width: 50%; position: relative; top: 130px; left: 135px;}
.featured-project {background: #fff; padding: 0px 20px; position: absolute; right: 0; top: 0; z-index: 10;}
.featured-project img {max-width: 100%; height: auto; width: 100%;}
.featured-project p {margin-top: 15px; margin-bottom: 15px; line-height: 20px;}
.featured-project p.call-to-action {padding-top: 10px; padding-bottom: 10px;}
.featured-project h2 {margin-top: 0px;}
.menu-bar {background: rgba(0,97,79,.75); position: relative; bottom: 52px; padding: 9px 0;}
.menu-bar .navbar-nav > li > a {font-family: 'Montserrat'; font-size: 17px; color: #fff; text-transform: uppercase; padding: 6px 80px; border-right: 2px solid #407d6d;}
.menu-bar .navbar-nav > li:last-child > a {border-right: none;}
.menu-bar .navbar-nav > li > a:hover {background: transparent; color: #a3b1ad;}
.menu-bar .navbar-nav > li > a.members:before {content: "\f007"; font-family: 'FontAwesome'; font-size: 24px; color: #a3b1ad; padding-right: 12px;}
.menu-bar .navbar-nav > li > a.events:before {content: "\f019"; font-family: 'FontAwesome'; font-size: 24px; color: #a3b1ad; padding-right: 12px;}
.menu-bar .navbar-nav > li > a.training:before {content: "\f040"; font-family: 'FontAwesome'; font-size: 24px; color: #a3b1ad; padding-right: 12px;}
.home .main-content {display: none;}
.upcoming-events > div {border-top: 6px solid #3d467d; padding: 20px; background: #fff; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);}
.upcoming-events > div > h3 {font-family: 'Montserrat'; font-weight: bold; font-size: 22px; color: #006351; line-height: 30px;}
.custom-content > div {border-top: 6px solid #00614f; padding: 20px; background: #fff; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);}
.custom-content img {max-width: 100%; height: auto;}
.custom-content h3 {margin-top: -10px;}
.bye-bye > div {border-top: 6px solid #660202; padding: 20px; background: #fff; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);}
div.srfrContainer ul.srfrList li {border-bottom: none;}
div.srfrContainer ul.srfrList li {padding: 0;}
.home {background: url('../images/bg.png') repeat;}
.homepage-content {padding-bottom: 40px;}

/*Footer Features*/
.footer-features {background: #57534b; padding: 55px 0;}
.footer-features p {color: #fff;}
.footer-features h2 {font-size: 20px; color: #fff; margin-top: -15px;}
.footer-features .feature1 p img, .footer-features .feature2 p img {float: left; margin-right: 16px; background: #fff;}
.footer-features .feature1 .custom, .footer-features .feature2 .custom {
	padding: 15px;
	height: 100%;
	background: rgb(103,98,88);
	background: -moz-linear-gradient(top,  rgba(103,98,88,1) 35%, rgba(87,83,75,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(103,98,88,1)), color-stop(100%,rgba(87,83,75,1)));
	background: -webkit-linear-gradient(top,  rgba(103,98,88,1) 35%,rgba(87,83,75,1) 100%);
	background: -o-linear-gradient(top,  rgba(103,98,88,1) 35%,rgba(87,83,75,1) 100%);
	background: -ms-linear-gradient(top,  rgba(103,98,88,1) 35%,rgba(87,83,75,1) 100%);
	background: linear-gradient(to bottom,  rgba(103,98,88,1) 35%,rgba(87,83,75,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676258', endColorstr='#57534b',GradientType=0 );
}
.footer-features p.btn.btn-primary {background: #676258; border: none; border-radius: 0; border-top-left-radius: 10px; border-bottom-left-radius: 10px; font-family: 'Montserrat'; font-weight: bold; font-size: 15px; color: #fff; text-transform: uppercase; position: relative; padding: 13px 10px 13px 15px; margin-bottom: 15px;}
.footer-features p.btn.btn-primary:hover {background: #868176; border: none;}
.footer-features p.btn.btn-primary a {color: inherit;}
.footer-features p.btn.btn-primary a:hover {text-decoration: none;;}
.footer-features p.btn.btn-primary:after {content: "\f105"; font-family: 'FontAwesome'; color: #fff; font-size: 17px; background: #736e65; border-top-right-radius: 10px; border-bottom-right-radius: 10px; position: absolute; right: -38px; top: 0; padding: 12px 15px 11px 17px;}
.footer-features p.btn.btn-primary:hover:after {background: #8f8b81;}
.footer-features p.btn.btn-primary a.associate-members {padding-right: 135px;}
/*Footer Logos*/
.logos {padding-top: 22px; padding-bottom: 22px; border-top: 3px solid #dededd; background: #fff;}
.logos img {max-width: 100%; height: auto;}
.footer-logos p img {padding-right: 15px;}
.footer-logos p img:last-child {padding-right: 0px;}
/*Footer*/
.site-footer {background: #57534b; padding-top: 35px; padding-bottom: 35px; border-top: 3px solid #dededd;}
.copyright {float: right;}
.copyright p {font-family: 'Montserrat'; font-size: 13px; color: #afaeab; text-align: right;}
.footer-menu .navbar-nav > li > a {font-family: 'Montserrat'; font-size: 13px; color: #afaeab; padding: 0 8px; border-right: 2px solid #9d9b97;}
.footer-menu .navbar-nav > li:first-child > a {padding-left: 0;}
.footer-menu .navbar-nav > li:last-child > a {border-right: none;}
.footer-menu .navbar-nav > li > a:hover {color: #e5ded1; background: transparent;}

/*Login Page*/
.main-content .login {float: none;}
.login .control-group {clear: both;}
.login .form-horizontal .control-label {text-align: left; float: left; padding-right: 10px;}
.login .btn-primary {background: #3d467d; border: none; border-radius: 10px; font-family: 'Montserrat'; font-weight: bold; font-size: 15px; color: #fff; text-transform: uppercase; position: relative; padding: 6px 15px;}
.login .btn-primary:hover {background: #8087b6; border: none;}
.login .btn-primary a {color: inherit;}
.login .btn-primary a:hover {text-decoration: none;}
.nav-tabs {border-bottom: none;}

/*Training*/
body.training .main-content ul {list-style-type: none; padding-left: 0;}
body.training .main-content li {}
body.training .main-content li a:before {content: "\f1c1"; font-family: 'FontAwesome'; padding-right: 8px;}
body.training .main-content table td {vertical-align: top; padding-right: 50px;}
body.training .main-content table td p {margin-top: 0; margin-bottom: 0;}
body.training .main-content table td img {max-height: 90px; vertical-align: top;}
.sidebar .training-sidebar-content ul {list-style-type: none; padding-left: 0;}
.sidebar .training-sidebar-content ul li {font-family: 'Montserrat'; font-weight: bold; font-size: 15px; text-transform: uppercase; padding: 5px 0;}
.sidebar .training-sidebar-content ul li a {color: #7b0e0e;}
.sidebar .training-sidebar-content ul li a:hover {color: #57534b; text-decoration: none;}
.sidebar .training-sidebar-content ul li a:after {content: "\f138"; font-family: 'FontAwesome'; padding-left: 7px;}
.sidebar .navbar-nav {background: #eae8e6; margin-bottom: 20px; padding: 5px 0;}
.sidebar .navbar-nav ul {}
.sidebar .navbar-nav li {border-bottom: 2px solid #fff; width: 85%; margin-left: 20px; padding-left: 0;}
.sidebar .navbar-nav li:last-child {border-bottom: none;}
.sidebar .navbar-nav > li > a {font-family: 'Montserrat'; font-weight: bold; font-size: 15px; color: #666666; text-transform: uppercase; padding: 15px 0;}
.sidebar .navbar-nav > li > a:hover {background: transparent; color: #444444;}

/*Contact Us*/
.main-content td.map {width: 50%; text-align: right;}
.main-content td.contact-us-left {width: 50%;}

/*Simple Image Gallery Tweaks*/
ul.sigProClassic span.sigProPseudoCaption, ul.sigProClassic span.sigProCaption {display: none;}

/*Mining*/
body.mining .main-content ul {list-style-type: none; padding-left: 0;}
body.mining .main-content li {}
body.mining .main-content li a:before {content: "\f1c1"; font-family: 'FontAwesome'; padding-right: 8px;}

/*Featured Projects*/
.project-intro-image {float: left; padding-right: 25px;}
body.featured-projects img.project-detail-image {float: right; padding-left: 20px; padding-bottom: 20px; max-width: 350px;}
body.featured-projects .main-content ul {list-style-type: none; padding-left: 0;}
body.featured-projects .main-content li {}
body.featured-projects .main-content li a:before {content: "\f1c1"; font-family: 'FontAwesome'; padding-right: 8px;}
body.featured-projects .project-intro-image img {max-width: 285px; height: auto;}
body.featured-projects p.readmore a.btn span.icon-chevron-right {display: none;}
body.featured-projects p.readmore a.btn {border-radius: 0; padding: 0; color: #660202; font-size: 16px; font-weight: bold;}
body.featured-projects p.readmore a.btn:after {content: "»";}
body.featured-projects p.readmore a.btn:hover {color: #57534b;}
body.featured-projects .project-intro-text p {display: inline;}
body.featured-projects p.readmore {display: inline;}
/*Detail Page Navigation*/
body.featured-projects ul.pagenav li.next a:before {display: none;}
body.featured-projects ul.pagenav li.next a:after {content: "\f138"; font-family: 'FontAwesome'; font-weight: bold; font-size: 18px; padding-left: 8px;}
body.featured-projects ul.pagenav li.previous a:before {content: "\f137"; font-family: 'FontAwesome'; font-weight: bold; font-size: 18px; padding-right: 8px;}
.pager li > a, .pager li > span {border: none; text-transform: uppercase; font-family: 'Montserrat'; font-weight: bold; font-size: 15px;}
.pager .next > a, .pager .next > span {float: left;}

/*Upcoming Events*/
body.events-page .main-content img {border-radius: 50%; float: left; margin-right: 30px; max-width: 100%; height: auto;}
body.events-page .main-content .event-image {width: 18%;}
body.events-page .main-content .event-text {width: 70%; float: left;}
body.events-page .main-content .event-text h2 {margin-bottom: 10px; margin-top: 0;}
body.events-page .main-content .event-text p {margin-top: 0; margin-bottom: 5px; padding: 0; line-height: 25px;}
body.events-page .main-content .event-text p.call-to-action {margin-top: 10px;}
.newsflash {overflow: hidden;}
.newsflash .event-text h3 {margin-top: 0;}
.newsflash .event-image {display: none;}
.newsflash .event-text {width: 100% !important;}
.newsflash .event-text p.event-description {display: none;}
.navbar-nav li ul.dropdown-menu li.item-722:after {display: none;}
.navbar-nav li ul.dropdown-menu li.item-739 {display: none;} /*Hide Event Registration Link*/

/*Technical Resources*/
.main-content p a.pdfLink:before {content: "\f1c1"; font-family: 'FontAwesome'; padding-right: 8px;}
.main-content p a.audioLink:before {content: "\f1c7"; font-family: 'FontAwesome'; padding-right: 8px;}
.main-content p a.videoLink:before {content: "\f1c8"; font-family: 'FontAwesome'; padding-right: 8px;}
body.technical-resources .main-content ul {list-style-type: none; padding-left: 20px;}
body.technical-resources .main-content li {}
body.technical-resources .main-content li a:before {content: "\f1c1"; font-family: 'FontAwesome'; padding-right: 8px;}

/*Subscribe & Payment Plans*/
.form-horizontal .control-label {text-align: left;}
#aec-plans .componentheading, .page-listing #listing h2 {display: none;}

/*Mosets Tree Overrides*/
.span3 {width: 33%; float: left;}
.span4 {width: 25%; float: left;}
.span6 {width: 50%; float: left;}
.span12 {width: 100%;}
#index .title {border-bottom: none; margin-bottom: 20px;}
.pages-links {margin: 20px 0; background: transparent; padding: 0; text-align: left;}
.pages-links span.xlistings .plant-locations {font-family: 'Montserrat'; font-weight: bold; font-size: 22px; color: #006351; line-height: 30px; margin-left: 0;}
.map .title {font-family: 'Montserrat'; font-weight: bold; font-size: 18px; color: #3d467d; line-height: 27px; border-bottom: none;}
.listing-summary {background: #efefef;}
#listings .listing-summary h3 {font-family: 'Montserrat'; font-weight: bold; font-size: 18px; color: #3d467d; line-height: 27px;}
.listing-share-item a {color: inherit;}
.listing-share-item a i {position: relative; top: -10px; font-size: 20px;}
.listing-share-item a {border: 1px solid #dddddd; border-radius: 4px; display: block; font-size: 24px; height: 30px; margin-right: 5px; padding-top: 6px; text-align: center; transition: background-color 0.1s linear 0s, color 0.1s linear 0s; width: 38px;}
.listing-share-facebook a {background-color: #ffffff; border-color: #4163af; color: #4163af;}
.listing-share-facebook a:hover {background-color: #4163af; color: #ffffff;}
.listing-share-twitter a {background-color: #ffffff; border-color: #00aced; color: #00aced;}
.listing-share-twitter a:hover {background-color: #00aced; color: #ffffff;}
.listing-share-pinterest a {background-color: #ffffff; border-color: #c92228; color: #c92228;}
.listing-share-pinterest a:hover {background-color: #c92228; color: #ffffff;}
.listing-share-google-plus a {background-color: #ffffff; border-color: #dd4b39; color: #dd4b39;}
.listing-share-google-plus a:hover {background-color: #dd4b39; color: #ffffff;}
.listing-share-linkedin a {background-color: #ffffff; border-color: #0077b5; color: #0077b5;}
.listing-share-linkedin a:hover {background-color: #0077b5; color: #ffffff;}
.listing-share-email a {background-color: #ffffff; border-color: #76838b; color: #76838b;}
.listing-share-email a:hover {background-color: #76838b; color: #ffffff;}
.listing-share:before {content: "Share"; display: block; font-family: 'Montserrat'; font-weight: bold; font-size: 18px; color: #3d467d; line-height: 27px; margin-bottom: 10px;}
.listing-summary .category a {color: #3d467d;}
.listing-summary .span4 {width: 100%;}
#listing .span4 {width: 100%;}
.listing-summary p.website, .listing-summary p.address {margin-top: 0px;}
.listing-summary p.website + p {display: none;}
.listing-summary p.website {margin-bottom: 5px;}
#listing h3 {font-family: 'Montserrat'; font-weight: bold; font-size: 18px; color: #3d467d; line-height: 24px;}

/*RS Memberships*/
#rsme_membership_info .row-fluid {border: none;}
.btn-success, .btn-danger {color: #fff !important;}

/*RS Events Pro*/
#rs_event_show h1 {display: none;} /*Hide Duplicate Event Title*/
#rs_event_show .rsep_taxonomy_block {display: none;} /*Hide Categories, Hits, Rating, etc.*/
#rs_event_show p.rsep_posted {display: none;} /*Hide Posted By*/
#rs_event_show a.btn {background-color: #ffffff; border-color: #cccccc;}

/*Search Results page*/
.search-results .search:after {display: none;}
.search dl.search-results dd.result-text {padding-bottom: 20px;}
.search form#searchForm fieldset.phrases legend {display: none;} /*Hide Search for legend title*/
.search form#searchForm fieldset.phrases {display: none;} /*Hide Search Phrases*/
.search dl.search-results dd.result-category {display: none;} /*Hide Article Category*/

/*Login Page*/
#form-login-username, #form-login-password, #form-login-remember {margin-bottom: 10px;}
input#modlgn-passwd {margin-left: 5px;}
input#modlgn-remember {float: left;}
#form-login-remember label {padding-left: 5px;}
#login-form ul.unstyled {list-style-type: none; padding-left: 0; margin-top: 20px;}

/*Random Image for Interior Banners*/
.randbg {
background: url('../../../images/interior-banners/interior-banner-1.jpg') no-repeat top center;
/*-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/
width: 100%;
height: auto;
}
.randbg.bg1 {
background-image: url('../../../images/interior-banners/interior-banner-2.jpg');
}
.randbg.bg2 {
background-image: url('../../../images/interior-banners/interior-banner-3.jpg');
}
.randbg.bg3 {
background-image: url('../../../images/interior-banners/interior-banner-4.jpg');
}
.randbg.bg4 {
background-image: url('../../../images/interior-banners/interior-banner-5.jpg');
}
.randbg.bg5 {
background-image: url('../../../images/interior-banners/interior-banner-6.jpg');
}
.randbg.bg6 {
background-image: url('../../../images/interior-banners/interior-banner-7.jpg');
}
.randbg.bg7 {
background-image: url('../../../images/interior-banners/interior-banner-8.jpg');
}
.randbg.bg8 {
background-image: url('../../../images/interior-banners/interior-banner-9.jpg');
}

/*Search before Member List categories*/
.after-content form.form-inline .search:after {display: none;}
.search-members .control-group {float: left;}
.search-members .control-group .controls button.btn {margin-left: 10px;}
.search-members .control-group:nth-child(3) {float: none; clear: both;}
.search-members .control-group:nth-child(3) a {margin-top: 15px;}
.search-members input#mod_mt_search_searchword0 {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

/*Responsive Only rules*/
.responsive-only {display: none;}
