<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="general" label="COM_FORM2CONTENT_GENERAL_SETTINGS" description="COM_FORM2CONTENT_GENERAL_SETTINGS_DESC">
		<field name="generate_sample_template" type="radio" default="1" class="btn-group"
		label="COM_FORM2CONTENT_GENERATE_DEFAULT_TEMPLATE" description="COM_FORM2CONTENT_GENERATE_DEFAULT_TEMPLATE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>	
		<field name="images_path" type="text"
			default="images/stories/com_form2content" size="15"
			label="COM_FORM2CONTENT_IMAGES_PATH" description="COM_FORM2CONTENT_IMAGES_PATH_DESC">
		</field>		
		<field name="max_image_upload_size"	type="text"
			default="" maxlength="8" size="15"
			label="COM_FORM2CONTENT_MAX_IMAGE_UPLOAD_SIZE" description="COM_FORM2CONTENT_MAX_IMAGE_UPLOAD_SIZE_DESC">
		</field>
		<field name="default_thumbnail_width" type="text"
			default="100" maxlength="3" size="5"
			label="COM_FORM2CONTENT_DEFAULT_THUMBNAIL_WIDTH" description="COM_FORM2CONTENT_DEFAULT_THUMBNAIL_WIDTH_DESC">
		</field>
		<field name="default_thumbnail_height" type="text"
			default="100" maxlength="3" size="5"
			label="COM_FORM2CONTENT_DEFAULT_THUMBNAIL_HEIGHT" description="COM_FORM2CONTENT_DEFAULT_THUMBNAIL_HEIGHT_DESC">
		</field>
		<field name="jpeg_quality" type="text"
			default="75" maxlength="3" size="5"
			label="COM_FORM2CONTENT_JPEG_QUALITY" description="COM_FORM2CONTENT_JPEG_QUALITY_DESC">
		</field>
		<field name="force_iframe_upload" type="radio" default="0" class="btn-group"
		label="COM_FORM2CONTENT_FORCE_IFRAME_UPLOAD" description="COM_FORM2CONTENT_FORCE_IFRAME_UPLOAD_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
			
		<field name="filename_restriction" type="list" default="1" class="btn-group"
		label="COM_FORM2CONTENT_FILENAME_RESTRICTION" description="COM_FORM2CONTENT_FILENAME_RESTRICTION_DESC">
			<option value="0">COM_FORM2CONTENT_FILENAME_CONFORM_JOOMLA</option>
			<option value="1">COM_FORM2CONTENT_FILENAME_AUTOCONVERT_CONFORM_JOOMLA</option>
		</field>
			
		<field name="files_path" type="text"
			default="media/com_form2content/documents" size="15"
			label="COM_FORM2CONTENT_FILES_PATH" description="COM_FORM2CONTENT_FILES_PATH_DESC">
		</field>		
		<field name="date_format" type="list" default="%d-%m-%Y"
			description="COM_FORM2CONTENT_DATE_FORMAT_DESC"	label="COM_FORM2CONTENT_DATE_FORMAT">
			<option value="%d-%m-%Y">d-m-Y</option>
			<option value="%m-%d-%Y">m-d-Y</option>
			<option value="%Y-%m-%d">Y-m-d</option>
		</field>
		<field name="autosync_article_order" type="radio" default="1" class="btn-group"
			label="COM_FORM2CONTENT_AUTOSYNC_ARTICLE_ORDER" description="COM_FORM2CONTENT_AUTOSYNC_ARTICLE_ORDER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>	
		<field name="custom_translations" type="radio" default="0" class="btn-group"
			label="COM_FORM2CONTENT_CUSTOM_TRANSLATIONS" description="COM_FORM2CONTENT_CUSTOM_TRANSLATIONS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>		
		<field name="enable_logging" type="radio" default="0" class="btn-group"
			label="COM_FORM2CONTENT_ENABLE_LOGGING" description="COM_FORM2CONTENT_ENABLE_LOGGING_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>		
	</fieldset>
	<fieldset name="frontend" label="COM_FORM2CONTENT_FRONTEND_SETTINGS" description="COM_FORM2CONTENT_FRONTEND_SETTINGS_DESC">
		<field name="edit_items_level" type="list"
			description="COM_FORM2CONTENT_EDIT_ITEMS_BY_USER_DESC"
			label="COM_FORM2CONTENT_EDIT_ITEMS_BY_USER" default="0">
			<option value="0">COM_FORM2CONTENT_ALL_ITEMS</option>
			<option value="1">COM_FORM2CONTENT_OWN_ITEMS_ONLY</option>
		</field>
		<field name="front_end_publish" type="radio" default="1" class="btn-group"
			label="COM_FORM2CONTENT_FRONT_END_PUBLISH" description="COM_FORM2CONTENT_FRONT_END_PUBLISH_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="recaptcha_public_key" type="text"
			default="" maxlength="50" size="70"
			label="COM_FORM2CONTENT_RECAPTCHA_PUBLIC_KEY" description="COM_FORM2CONTENT_RECAPTCHA_PUBLIC_KEY_DESC">
		</field>
		<field name="recaptcha_private_key" type="text"
			default="" maxlength="50" size="70"
			label="COM_FORM2CONTENT_RECAPTCHA_PRIVATE_KEY" description="COM_FORM2CONTENT_RECAPTCHA_PRIVATE_KEY_DESC">
		</field>
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox" validate="rules" filter="rules" component="com_form2content" section="component" />
	</fieldset>
	<fieldset name="import_export" label="COM_FORM2CONTENT_ARTICLE_IMPORT_EXPORT_SETTINGS" description="COM_FORM2CONTENT_ARTICLE_IMPORT_EXPORT_SETTINGS_DESC">
		<field name="import_dir" type="text"
			default="" maxlength="255" size="100"
			label="COM_FORM2CONTENT_IMPORT_DIR" description="COM_FORM2CONTENT_IMPORT_DIR_DESC">
		</field>
		<field name="export_dir" type="text"
			default="" maxlength="255" size="100"
			label="COM_FORM2CONTENT_EXPORT_DIR" description="COM_FORM2CONTENT_EXPORT_DIR_DESC">
		</field>
		<field name="import_archive_dir" type="text"
			default="" maxlength="255" size="100"
			label="COM_FORM2CONTENT_IMPORT_ARCHIVE_DIR" description="COM_FORM2CONTENT_IMPORT_ARCHIVE_DIR_DESC">
		</field>
		<field name="import_error_dir" type="text"
			default="" maxlength="255" size="100"
			label="COM_FORM2CONTENT_IMPORT_ERROR_DIR" description="COM_FORM2CONTENT_IMPORT_ERROR_DIR_DESC">
		</field>
		<field name="import_post_action" type="list" default="0"
			label="COM_FORM2CONTENT_IMPORT_POST_ACTION" description="COM_FORM2CONTENT_IMPORT_POST_ACTION_DESC">
			<option value="0">COM_FORM2CONTENT_DELETE_IMPORT_FILE</option>
			<option value="1">COM_FORM2CONTENT_ARCHIVE_IMPORT_FILE</option>
		</field>		
		<field name="import_write_action" type="list" default="1"
			label="COM_FORM2CONTENT_IMPORT_WRITE_ACTION" description="COM_FORM2CONTENT_IMPORT_WRITE_ACTION_DESC">
			<option value="0">COM_FORM2CONTENT_CREATE_NEW</option>
			<option value="1">COM_FORM2CONTENT_UPDATE</option>
		</field>		
		<field name="export_file_mode" type="list" default="0"
			label="COM_FORM2CONTENT_EXPORT_FILE_MODE" description="COM_FORM2CONTENT_EXPORT_FILE_MODE_DESC">
			<option value="0">COM_FORM2CONTENT_EXPORT_REMOTE_URL</option>
			<option value="1">COM_FORM2CONTENT_EXPORT_LOCAL_PATH</option>
			<option value="2">COM_FORM2CONTENT_EXPORT_XML_ENCLOSED</option>
		</field>		
		<field name="export_images_mode" type="list" default="0"
			label="COM_FORM2CONTENT_EXPORT_IMAGE_MODE" description="COM_FORM2CONTENT_EXPORT_IMAGE_MODE_DESC">
			<option value="0">COM_FORM2CONTENT_EXPORT_REMOTE_URL</option>
			<option value="1">COM_FORM2CONTENT_EXPORT_LOCAL_PATH</option>
			<option value="2">COM_FORM2CONTENT_EXPORT_XML_ENCLOSED</option>
		</field>
		<field name="import_keep_created_date" type="radio" default="1" class="btn-group"
			label="COM_FORM2CONTENT_IMPORT_KEEP_CREATED_DATE" description="COM_FORM2CONTENT_IMPORT_KEEP_CREATED_DATE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>		
						
	</fieldset>
</config>